.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.podcasts-container {
	display: table;
	width: 100%;
	height: 100%;
}

.podcast-show-container{
	display: table;
	width: 100%;
	height: 100%;
}

.podcast-show{
	display: table-cell;
	width: 50%;
	vertical-align: top;
  padding-left: 20px;
  padding-right: 40px;
}

.playlist-container {
	display: table-cell;
	width: 50%;
  overflow-y: scroll; /*makes sidebar scrollable*/
	vertical-align: top;
  top:0; /*makes sidebar scrollable*/
  bottom:0; /*makes sidebar scrollable*/
  position:fixed; /*makes sidebar scrollable*/
  /* Set the top and bottom to 0, so that the sidebar is exactly the same height as the viewport */
  /* margin-left: 10px */
}

/* .playlist-container .playlist-episodes{
  padding-top: 10%;
} */

.searched-podcasts {
	display: table-cell;
	width: 50%;
	vertical-align: top;
  padding-left:40px;
}

.searched-podcasts .podcast{
  text-align: center;
  vertical-align: middle;
  width: 80%;
  height: 50%
}


.individual-reviews{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* .no-reviews-yet{
  display: none
} */

.homepage-podcast{
  display: table;
  width: 45%;
  height: 25%;
  margin: 0 auto;
  padding-top: 5%
}

.homepage-podcast .episode{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.homepage-details{
  display: table;
  width: 60%;
  height: 25%;
  margin: 0 auto;
}

.homepage-details .homepage-details-children{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

#random-quote{
  font-style: italic;
}

.navbar{
  padding-left: 30px;
  padding-top: 20px
}


.login-form{
  padding-left: 12px
}


button{
  margin: auto 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tooltip-box{
  width: 40px;
  font-style: italic;
}
